################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/TekusProvidersAPI
/.vs/CopilotSnapshots/94BCF87B176B4546874B66696891F9A4
/DomainLayer/bin/Debug/net8.0
/InfraLayer/bin/Debug/net8.0
/TekusProvidersAPI/bin/Debug/net8.0
